In [2]:
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-4.3.0-py3-none-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy in c:\anaconda3\lib\site-packages (from lightgbm) (1.26.4)
Requirement already satisfied: scipy in c:\anaconda3\lib\site-packages (from lightgbm) (1.11.4)
Downloading lightgbm-4.3.0-py3-none-win_amd64.whl (1.3 MB)
   ---------------------------------------- 0.0/1.3 MB ? eta -:--:--
   - -------------------------------------- 0.1/1.3 MB 2.6 MB/s eta 0:00:01
   ---- ----------------------------------- 0.2/1.3 MB 1.8 MB/s eta 0:00:01
   ------- -------------------------------- 0.2/1.3 MB 1.9 MB/s eta 0:00:01
   ----------- ---------------------------- 0.4/1.3 MB 2.0 MB/s eta 0:00:01
   ------------- -------------------------- 0.5/1.3 MB 1.8 MB/s eta 0:00:01
   --------------- ------------------------ 0.5/1.3 MB 1.8 MB/s eta 0:00:01
   ----------------- ---------------------- 0.6/1.3 MB 1.7 MB/s eta 0:00:01
   ------------------- -------------------- 0.6/1.3 MB 1.7 MB/s eta 0:00:01
   ----------------------- ---------------- 0.8/1.3 MB 1.8 MB/s eta 0:00:01
   -------------------------- ------------- 0.9/1.3 MB 1.8 MB/s eta 0:00:01
   ------------------------------ --------- 1.0/1.3 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 1.1/1.3 MB 1.8 MB/s eta 0:00:01
   ------------------------------------ --- 1.2/1.3 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------  1.3/1.3 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------  1.3/1.3 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  1.3/1.3 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  1.3/1.3 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 1.3/1.3 MB 1.5 MB/s eta 0:00:00
Installing collected packages: lightgbm
Successfully installed lightgbm-4.3.0

In [3]:
import lightgbm as lgb

In [4]:
import pandas as pd

In [5]:
dataset=pd.read_csv("insurance_pre.csv")

In [6]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [7]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [8]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [9]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [10]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [11]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [12]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split( independent, dependent, test_size=0.30, random_state=0)

In [14]:
regressor=lgb.LGBMRegressor()
regressor.fit(x_train,y_train)

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000308 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 313
[LightGBM] [Info] Number of data points in the train set: 936, number of used features: 5
[LightGBM] [Info] Start training from score 13232.916456

LGBMRegressor()

In [15]:
y_pred=regressor.predict(x_test)

In [16]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

0.86603193419773

In [17]:
import pickle

In [18]:
filename="model_lightboost.sav"

In [19]:
pickle.dump(regressor,open(filename,'wb'))

In [20]:
loaded_model=pickle.load(open("model_lightboost.sav",'rb'))

In [21]:
result=loaded_model.predict([[19,27.900,0,0,1]])
result

array([17506.89176097])